.block {
  margin-top: 24px;
  &__title {
    color: #474747;
    font-size: 14px;
    margin-bottom: 8px;
  }
  &__btns {
    margin-bottom: 10px;
  }
  &__show {
    background: none;
    color: #5509cc;
    font-size: 14px;
    text-decoration-line: underline;
  }
}
