.logo {
  display: flex;
  align-items: center;
  margin-right: 10px;
  &__icon {
    width: 33px;
    height: 33px;
    margin-right: 8px;
    @media screen and (max-width: 360px) {
      margin-right: 0;
    }
  }
  &__text {
    width: 99px;
    height: 32px;
    @media screen and (max-width: 360px) {
      display: none;
    }
  }
}
